 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm a Ph. D. Student in Robotics at George Washington University advised by Prof. Evan Drumwright. I obtained my Bachelors degree in Economics from the George Washington University in 2013. My current research is focused on planning and control for semiautonomous legged robot locomotion and how to properly use simulation to validate robot designs, planners, and control systems.</p>
                </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/PositronicsLab" class="btn btn-lg btn-outline">
                  <i class="fa fa-download"></i>  Open Source Software</a>
                </div>
            </div>
        </div>
    </section>
